.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.hm-show-updated .entry-header .updated:not(.published) {
	display: inline-block;
}

.hm-show-updated .entry-header .published.sm-hu {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;

	a {
		color: #046bd2;
		text-decoration: underline;

		&:hover {
			color: var(--hybridmag-color-link-hover);
		}
	}

}

.entry-content:before,
.entry-content:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.entry-content:after {
  clear: both;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.hm-entry {
	word-break: break-word;
    overflow-wrap: break-word;
	margin-bottom: var( --hybridmag-post-row-gap );

	.post-thumbnail {
		margin: 0 0 15px;
		overflow: hidden;

		img {
			vertical-align: middle;
		}
	}

	.entry-header {
		margin: 0 0 15px;
	}

	.entry-title {
		font-size: var(--hybridmag-font-size-lg);
		margin: 0 0 10px;
	}

	.entry-content {
		color: #505050;
		margin-top: 5px;
	}

	.entry-content > * {
		margin-bottom: 20px;
	}

	.entry-content > *:last-child {
		margin-bottom: 0;
	}

	.entry-content-wrapper .entry-meta {
		margin-top: 20px;
	}
}

.hm-cl-sep .hm-entry {
	background: var(--hybridmag-color-bg-cl-sep-content);
	box-shadow: var( --hybridmag-global-box-shadow );
	border-radius: var( --hybridmag-global-border-radius );
	overflow: hidden;
}

.hm-post-grid {
	&.hm-arc-img-ah,
	&.hm-arc-img-bh {
		.hm-entry {
			.post-thumbnail img {
				width: 100%;
				height: auto;
			}
		}
	}
}

@media only screen and (min-width: 600px) {
	.hm-post-grid {
		#blog-entries {
			display: flex;
			flex-wrap: wrap;
			column-gap: var(--hybridmag-post-cols-gap);
		}
		&.hm-grid-2 {
			#blog-entries .hm-entry {
				width: calc( 50% - var(--hybridmag-post-cols-gap)/2 );
			}
		}

		&.hm-grid-3 {
			#blog-entries .hm-entry {
				width: calc( 33.333% - (var(--hybridmag-post-cols-gap)*2)/3 );
			}
		}

		&.hm-grid-4 {
			#blog-entries .hm-entry {
				width: calc( 25% - (var(--hybridmag-post-cols-gap)*3)/4 );
			}
		}

		&.hm-grid-5 {
			#blog-entries .hm-entry {
				width: calc( 20% - (var(--hybridmag-post-cols-gap)*4)/5 );
			}
		}

		&.hm-grid-6 {
			#blog-entries .hm-entry {
				width: calc( 16.66667% - (var(--hybridmag-post-cols-gap)*5)/6 );
			}
		}
	}
}

.entry-meta {
	font-size: var(--hybridmag-font-size-xs);
	font-weight: 500;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	color: var(--hybridmag-color-text-light);

	a {
		color: var( --hybridmag-color-text-light );
		
		&:visited {
			color: var( --hybridmag-color-text-light );
		}

		&:hover {
			color: var(--hybridmag-color-link-hover);
		}
	}

	.author a {
		color: var(--hybridmag-color-link);
		font-weight: 500;

		&:visited {
			color: var(--hybridmag-color-link);
		}

		&:hover {
			color: var(--hybridmag-color-link-hover);
		}
	}

	svg {
		margin: 0 0.3em 0 0;
	}

}

.hm-meta-sep {
	margin: 0 0.6em;
}

.hm-entry .entry-content .hm-read-more {
	text-decoration: none;
	color: var(--hybridmag-color-link);
	font-weight: 500;

	&:visited {
		color: var(--hybridmag-color-link);
	}

	&:hover {
		color: var(--hybridmag-color-link-hover);
		text-decoration: underline;
	}
}

.entry-title {
	
	word-wrap: break-word;

	a {
		color: var(--hybridmag-color-link);

		&:visited {
			color: var(--hybridmag-color-link);
		}

		&:hover {
			color: var(--hybridmag-color-link-hover);
		}
	}
}
 
.cat-links:not(.entry-meta .cat-links) {
	color: #f5f5f5;
	display: block;

	ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		padding: 0;
		margin: 0 0 0.8em;
	}	

	a {
		color: #ffffff;
		background: var(--hybridmag-color-primary);
		display: inline-block;
		padding: 0.15em 0.65em;
		border-radius: 4px;
		font-weight: 600;
		font-size: var(--hybridmag-font-size-xxxs);

		&:visited {
			color: #ffffff;
		}

		&:hover {
			background: #333333;
		}
	}
}

// Image Beside Article
.hm-arc-img-ba {
	.hm-entry {
		display: flex;

		.post-thumbnail {
			flex-basis: 46.273291925%;
			//flex-basis: 43.47826087%;
		}

		.hm-article-inner {
			flex-basis: 46.273291925%;
			//flex-basis: 49.068322981%;
			flex-grow: 1;
		}
	}

	&.hybridmagaif-right {
		.post-thumbnail {
			order: 2;
		}

		.hm-article-inner {
			order: 1;
		}

		&.hm-post-list {
			.hm-entry {
				.post-thumbnail {
					margin-bottom: 0;
					border-top-left-radius: var(--hybridmag-global-border-radius);
					border-bottom-left-radius: var(--hybridmag-global-border-radius);
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
			}
		}
	}

	&.hm-post-list {
		.hm-entry {
			align-items: center;

			.post-thumbnail {
				margin: 0 30px 0 0;
				border-top-right-radius: var(--hybridmag-global-border-radius);
				border-bottom-right-radius: var(--hybridmag-global-border-radius);
				box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.08);

				img {
					width: 100%;
					height: auto;
				}

				@media( max-width: 599px ) {
					width: 100%;
					margin: 0 0 30px 0;
					border-radius: var(--hybridmag-global-border-radius);
				}
			}

			@media( max-width: 599px ) {
				display: block;
			}
		}
		
		&.hm-cl-sep {
			.hm-entry {
				padding: var(--hybridmag-global-inner-spacing);
				@media( min-width: 600px ) {
					padding: 30px 0;
					.post-thumbnail {
						margin-right: 0;
					}
				}
			}

			.hm-article-inner {
				@media( min-width: 600px ) {
					margin: 0 30px;
				}
			}
		}

		&.hm-cl-one {
			.hm-entry {
				.post-thumbnail {
					box-shadow: none;
					border-radius: var(--hybridmag-global-border-radius);
				}
			}
		}
		
	}

	&.hm-post-grid {
		&.hm-cl-sep {
			.hm-entry {
				padding: 20px;

				.post-thumbnail {
					max-width: 30%;
				}
			}
		}
	}
}

// Image Beside Article
.hm-post-grid.hm-arc-img-ba {
	.hm-entry .post-thumbnail {
		margin: 0 20px 20px 0;
	}

	&.hybridmagaif-right {
		.hm-entry .post-thumbnail {
			margin: 0 0 20px 20px;
		}
	}
}

.hm-post-grid .hm-entry {
	.post-thumbnail {
		margin: 0 0 25px;
	}
}

// Image Beside Content
// .hm-arc-img-bc {
// 	.hm-entry {
// 		.entry-content-wrapper {
// 			display: flex;
// 			margin-top: 1.5em;
// 		}

// 		.post-thumbnail {
// 			flex-basis: 35%;
// 			margin: 0 20px 20px 0;
// 		}

// 		.entry-content {
// 			flex-grow: 1;
// 			flex-basis: 65%;
// 			margin: 0;

// 			p {
// 				margin: 0 0 1.5em;
// 			}
// 		}
// 	}

// 	&.hybridmagaif-right {
// 		.post-thumbnail {
// 			order: 2;
// 			margin: 0 0 20px 20px;
// 		}
// 		.entry-content {
// 			order: 1;
// 		}
// 	}

// 	&.hm-cl-sep {
// 		.hm-entry {
// 			padding: 30px;
// 		}
// 	}
// }

.hm-arc-img-bc {
	.hm-entry {
		.entry-content-wrapper {
			margin-top: 1.5em;
		}

		.post-thumbnail {
			width: 34%;
			float: left;
			margin: 0 3% 20px 0;
		}

		.entry-content {
			float: right;
			width: 63%;
			margin: 0;

			p {
				margin: 0 0 1.5em;
			}
		}

		.entry-meta {
			width: 63%;
		}
	}

	&.hybridmagaif-right {
		.post-thumbnail {
			float: right;
			margin: 0 0 20px 20px;
		}
		.entry-content {
			float: left;
		}
	}

	&.hm-cl-sep {
		.hm-entry {
			padding: var(--hybridmag-global-inner-spacing);
		}
	}
}

// Image before header
.hm-arc-img-bh {
	&.hm-cl-sep {
		.hm-article-inner {
			padding: var(--hybridmag-global-inner-spacing);
		}

		.post-thumbnail {
			margin-bottom: 0;
		}
	}
}

// Image after header
.hm-arc-img-ah {
	&.hm-cl-sep {

		.entry-header {
			margin-bottom: 0;
			padding: var(--hybridmag-global-inner-spacing);
		}

		.entry-content-wrapper {
			padding: 0 var(--hybridmag-global-inner-spacing) var(--hybridmag-global-inner-spacing) var(--hybridmag-global-inner-spacing);
		}

		.post-thumbnail {
			margin-bottom: var(--hybridmag-global-inner-spacing);
		}

		.hm-entry .entry-title {
			margin-bottom: 0;
		}
	}
}

.hm-arc-no-img {
	&.hm-cl-sep {
		.hm-entry {
			padding: var(--hybridmag-global-inner-spacing);
		}
	}
}

.hm-author-avatar {
	margin-right: 5px;
	img {
		width: 30px;
		height: 30px;
		border-radius: 15px;
		vertical-align: middle;
	}
}

.hm-comments-icon {
	margin: 0 4px 0 10px;

	.hm-svg-icon {
		position: relative;
		top: 2px;
		width: 1.2em;
	}
}

.single .hm-author-avatar {
	margin-right: 10px;
	img {
		width: 40px;
		height: 40px;
		border-radius: 20px;
	}
}

.hm-tagged,
.hm-tags-links a {
	line-height: 1.8;
	padding: 2px 8px;
	margin-right: 1px;
	background: #eeeeee;
	color: #222222;
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.75em;
	border-radius: 3px;
}
  
.hm-tags-links a:hover {
	background: var(--hybridmag-color-link-hover);
	color: #fff;
}
  
.hm-tagged {
	background: var(--hybridmag-color-primary);
	color: #ffffff;
}

.hm-author-bio {
	display: flex;
	padding: 25px;
	border: 1px solid var(--hybridmag-color-border);
	margin: 60px 0;
	border-radius: var(--hybridmag-global-border-radius);
}

.hm-author-name {
	font-weight: 600;
	margin-bottom: 10px;
}

.hm-author-link {
	color: var(--hybridmag-color-primary);
	font-size: var(--hybridmag-font-size-sm);
	font-weight: 600;

	&:visited {
		color: var(--hybridmag-color-primary);
	}

	&:hover {
		color: var(--hybridmag-color-link);
	}
}

.hm-author-image {
	flex-shrink: 0;
	margin-right: 20px;

	img {
		border-radius: var(--hybridmag-global-border-radius);
	}
}

.hm-author-description {
	font-size: var(--hybridmag-font-size-base);

	p {
		margin-bottom: 10px;
	}
}

.hm-blog-section-header {
	margin: 0 0 35px;
	border-bottom: 1px solid var(--hybridmag-color-border);
	position: relative;

	.hm-blog-entries-title {
		display: inline-block;
		margin: 0 0 6px;
	}
}

.hm-fp1 {
	margin: 0 0 40px;
	width: 100%;

	@media (max-width: 767px) {
		@include clearfix;
	}
}

.hm-featured-top {
	width: 100%;
}

.hm-fp1-right {
	position: relative;
}

@media (min-width: 768px) {
	.hm-fp1 {
		display: flex;
		justify-content: space-between;
	}
	.hm-fp1-left {
		width: 65.234375%;
	}
	.hm-fp1-right {
		width: 34.375%;
	}
}

.hm-fp-overlay, 
.hm-fp-link-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.hm-slider {
	position: relative;
	border-radius: var(--hybridmag-global-border-radius);
}

.hm-cl-sep .hm-slider {
	box-shadow: var(--hybridmag-global-box-shadow);
}

.hm-slide-holder {
	position: relative;
	background-color: #f5f5f5;
}

.hm-slide-holder > .hm-slide-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.hm-slide-image {
	position: relative;
	width: 100%;
	padding-top: 59.281437126%;

	img {
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
		position: absolute;
		top: 0;
	}
}

.hm-slider-title {
	font-size: var(--hybridmag-font-size-md);
	font-weight: bold;
	margin: 0;
	color: #f5f5f5;
	text-shadow: 0px 1px 1px #000;

	@media( min-width: 992px ) {
		font-size: var(--hybridmag-font-size-xxl);
	}
}

.hm-slider-details-container {
	z-index: 1;
	padding: 33px 33px 38px 33px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	@media (max-width: 767px) {
		padding: 15px 15px 30px 15px;
	}
}

.hm-slider-details-container::before {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.0) 0%,rgba(0,0,0,1) 100%); /* W3C */
	opacity: 0.5;
	transition: opacity 0.2s linear;
	z-index: -1;
}

.hm-slider:hover .hm-slider-details-container::before {
	opacity: 0.7;
}

.hm-slider:hover {
	.hm-slider-title {
		color: #ffffff;
		transition: color 0.2s;
	}
}

.hm-slider .hm-swiper-button-prev,
.hm-slider .hm-swiper-button-next {
    width: 40px;
    height: 40px;
    margin: -20px 0 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.hm-swiper-button-prev svg,
.hm-swiper-button-next svg {
    fill: #fff;
    width: 26px;
    height: 26px;
    position: relative;
}

.hm-swiper-button-prev {
	left: 20px;
	right: auto;
}

.hm-swiper-button-next {
	right: 20px;
  	left: auto;
}

// .hm-slider:hover .hm-swiper-button-next {
//     opacity: 0.7;
//     right: 20px;
// }

// .hm-slider:hover .hm-swiper-button-prev {
//     opacity: 0.7;
//     left: 20px;
// }

.hm-highlighted-posts {
    //overflow: hidden;

    @media screen and (max-width:767px) {
        margin: 0 -1px;
    }
}

.hm-highlighted-post {
    position: relative;
    width: 100%;  
    height: auto;
    z-index: 1;
	border-radius: var(--hybridmag-global-border-radius);
	box-shadow: var(--hybridmag-global-box-shadow);
	overflow: hidden;

    @media screen and (max-width:767px) {
        width: 50%;
        float: left;
        padding: 2px 1px 0 1px;
    }

    &:first-child {
        margin-bottom: 0.92%;

        @media screen and (min-width:768px) {
            margin-bottom: 0.97%;
        }
    }

    &:hover {
        .hmhp-details-container::before {
            opacity: 0.7;
        }  
        .hmhp-title {
            color: #ffffff;
        }
    }
}

.hmhp-thumbnail img {
    max-width: 100%;  
    position: relative;
    z-index: -2;
}

.hmhp-details-container {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 20px;

    @media (max-width: 767px) {
        padding: 10px;
    }
}

.hmhp-details-container::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.0) 0%,rgba(0,0,0,1) 100%); /* W3C */
    opacity: 0.5;
    transition: opacity 0.2s linear;
    z-index: -1;
}

.hmhp-title {
    font-weight: 700;
    font-size: var(--hybridmag-font-size-md);
    color: #f5f5f5;
    text-shadow: 0px 1px 1px #000;
    margin: 0;
    
    @media screen and (min-width:992px) {
        font-size: var(--hybridmag-font-size-lg);
    }
}

.hmhp-inner {
    position: relative;
	background-color: #f5f5f5;
}

.hmhp-thumb {
    position: relative;
    width: 100%;
    padding-top: 55.681818182%;

    img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        top: 0;
    }
}

.hm-tab-posts-wrapper {
	@media(min-width: 600px) {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		gap: 30px;
	}
} 

.hm-tab-post-card {
	overflow: hidden;

	@media(min-width: 600px) and (max-width: 767px) {
		flex-basis: calc(50% - 15px);
	}

	@media(min-width: 768px) {
		flex-basis: calc(25% - 22.5px);
	}

	@media(max-width: 600px) {
		margin: 0 0 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.hm-cl-sep {
	.hm-tab-post-card {
		border-radius: var(--hybridmag-global-border-radius);
		box-shadow: var( --hybridmag-global-box-shadow );
		background: var(--hybridmag-color-bg-cl-sep-content);
	}

	.hm-tab-post-details {
		padding: 20px;
		margin-top: 0;
	}
}

.hm-cl-one {
	.hm-tab-post-card .hm-tab-post-img {
		border-radius: var(--hybridmag-global-border-radius); 
		overflow: hidden;
		//box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.08);
	}
}


.hm-tab-post-details {
	margin-top: 15px;
	.entry-meta {
		font-size: var(--hybridmag-font-size-xxs);
	}
}

.hm-tab-post-title {
	font-size: var(--hybridmag-font-size-md);
	margin: 0 0 8px;
	word-wrap: break-word;
}

.hm-tab-post-img img {
	vertical-align: middle;
}

/* Featured Posts Small */
.hm-fp-small-top {
	@media (min-width: 600px) {
		display: flex;
		gap: 30px;
	}
	margin-bottom: 50px;
}

.hm-fp-small {
	display: flex;
	width: 25%;
	padding: 18px;
	border-radius: var(--hybridmag-global-border-radius);
	box-shadow: var(--hybridmag-global-box-shadow);
	background: #ffffff;

	.post-thumbnail {
		max-width: 64px;
		margin-right: 16px;
		img {
			vertical-align: middle;
			border-radius: var(--hybridmag-global-border-radius);
		}
	}

	.entry-title {
		margin: 0;
		font-size: var(--hybridmag-font-size-base);
	}
}

.page {
	.entry-header {
		margin: 0 0 35px;

		h1 {
			margin: 0;
		}
	}

	.entry-footer {
		margin: 40px 0;
	}

	.edit-link {
		margin: 0;
	}
}

.page-header {
	margin: 0 0 var(--hybridmag-global-spacing);

	.page-title {
		margin: 0;
	}

	.archive-description {
		margin: 5px 0 0;

		p {
			margin-bottom: 0;
		}
	}
}

// .single {
// 	.entry-title {
// 		font-size: 32px;
// 		margin: 0 0 10px;
// 	}

// 	.entry-header {
// 		margin: 0 0 35px;
// 	}

// 	.entry-footer {
// 		display: flex;
// 		margin: 40px 0;
// 	}
// }

.hm-entry-single {
	line-height: var(--hybridmag-line-height-article);

	.entry-content {
		margin-bottom: 35px;
		font-size: var(--hybridmag-font-size-md);
	}

	.post-thumbnail {
		margin: 0 0 35px;
		
		img {
			border-radius: var(--hybridmag-global-border-radius);
		}
	}

	.entry-title {
		font-size: var(--hybridmag-font-size-xxl);
		margin: 0 0 10px;

		@media (min-width: 768px) {
			font-size: var(--hybridmag-font-size-xxxl);
		}
	}

	.entry-header {
		margin: 0 0 35px;
	}

	.entry-footer {
		display: flex;
		margin: 40px 0;
	}
}

.hm-cl-sep {
	.hm-entry-single {
		margin-bottom: 35px;
		padding: var(--hybridmag-global-inner-spacing);
		background: var(--hybridmag-color-bg-cl-sep-content);
		border-radius: var(--hybridmag-global-border-radius);
		box-shadow: var(--hybridmag-global-box-shadow);
	}
}

.page-template-template-magazine.hm-cl-sep .hm-entry-single {
	padding: 0;
	background-color: transparent;
	box-shadow: none;

	.entry-content {
		.wp-block {
			margin-bottom: 35px;
			padding: var(--hybridmag-global-inner-spacing);
			background: var(--hybridmag-color-bg-cl-sep-content);
			border-radius: var(--hybridmag-global-border-radius);
			box-shadow: var(--hybridmag-global-box-shadow);
		}
	}
}

.page-template-template-magazine .hm-entry-single .entry-content {
	margin: 0;
}

.page .hm-entry-single {
	.entry-header {
		margin-bottom: 0;
	}

	.entry-title {
		margin: 0 0 35px;
	}
}

.edit-link {
	font-style: italic;
	font-weight: 600;
	margin-left: 1em;
}

.post-thumbnail figcaption {
	color: #555;
    font-size: var(--hybridmag-font-size-xxs);
    text-align: center;
	margin-bottom: 1em;
    margin-top: 0;
}

.page-links {
	clear: both;
	margin: 3.5em 0 1.5em;

	.post-page-numbers {
		border: 1px solid var(--hybridmag-color-border);
		color: var(--hybridmag-color-text);
		padding: 5px 14px;
		font-weight: bold;
		margin: 0 2px;
		border-radius: 3px;
		display: inline-block;
		text-decoration: none !important;
	}

	.post-page-numbers:visited {
		color: #000000;
	}

	.post-page-numbers:hover, 
	.post-page-numbers.current {
		background-color: var(--hybridmag-color-primary);
		border: 1px solid var(--hybridmag-color-primary);
		color: #ffffff !important;
	}
}