.entry-content .wc-block-cart__submit-button,
.wc-block-cart__submit-button {
    font-size: 100%;
    margin: 0;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: .618em 1em;
    font-weight: 700;
    border-radius: 3px;
    left: auto;
    color: #fff;
    border: 0;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    background-color: #7f54b3;
}    

.entry-content .wc-block-cart__submit-button:hover,
.wc-block-cart__submit-button:hover {
    color: #fff;
    background-color: #7f54b3;
}    