.hm-dark-mode-logo {
	display: none;
}

html.hm-dark {

	--hybridmag-color-text-headings: #ffffff;
	--hybridmag-color-link: #eeeeee;
	--hybridmag-color-link-hover: #ffffff;
	--hybridmag-color-text-main: #dddddd;

	--hybridmag-color-input: #eeeeee;
	--hybridmag-color-input-background: #222222;
    --hybridmag-color-input-border: #333333;
	--hybridmag-color-border: #333333;
	--hybridmag-color-text-light: #cccccc;
	--hybridmag-color-bg-cl-sep-content: #222222;

	body {
		background-color: #000000; // Fallback for when there is no custom background color defined.

		&.hm-cl-one {
			background-color: #222222;
		}

		&.hybridmag-boxed {
			background-color: #000000;

			#page {
				background-color: #111111;
			}

			&.hm-cl-one {
				#page {
					background-color: #222222;
				}
			}
		}

	}

	.hm-has-dm-logo .hm-light-mode-logo {
		display: none;
	}

	.hm-has-dm-logo .hm-dark-mode-logo {
		display: block;
	}

	.hm-top-bar a {
		color: #dddddd;
	}

	.hm-top-bar {
		background: #111111;

		.hm-menu ul ul {
			background: #111111;
		}

		.hm-menu ul ul a:hover {
			background: #000000;
			color: #ffffff;
		}

		.hm-social-menu a:hover {
			color: #ffffff;
		}
	}

	.hm-cl-sep .hm-header-bar {
		background: #111111;
	}

	.secondary-menu a {
		color: #dddddd;
	}

	.page-content a, 
	.entry-content a, 
	.entry-summary a {
		color: var(--hybridmag-color-link);
	}

	.site-title a, 
	.site-title a:hover, 
	.site-title a:active, 
	.site-title a:focus, 
	.site-title a:visited {
		color: #ffffff;
	}

	.hm-search-box {
		background: #111111;
	}

	.hm-h-de .site-header {
		background-color: #222222;
	}

	.hm-h-lg .site-header {
		background-color: #222222;
	}

	.hm-nav-sticky.hm-header-inner-wrapper, .hm-header-inner-wrapper {
		background-color: #222222;
	}

	.hm-search-toggle .hm-svg-icon,
	.hm-light-dark-toggle .hm-svg-icon,
	.hm-h-de .hm-header-inner .hm-social-menu a,
	.hm-h-de .main-navigation a {
		color: #eeeeee;
	}

	.hm-h-de .hm-slideout-toggle {
		color: #dddddd;
	}

	.hm-h-de .main-navigation ul ul .current_page_item > a, 
	.hm-h-de .main-navigation ul ul .current-menu-item > a, 
	.hm-h-de .main-navigation ul ul .current_page_ancestor > a, 
	.hm-h-de .main-navigation ul ul .current-menu-ancestor > a, 
	.hm-h-de .main-navigation ul ul li a:hover {
		background-color:  #111111;
	}

	.hm-h-de .main-navigation ul ul a:hover {
		background-color: #111111;
	}

	.hm-h-de .main-navigation {
		background-color: inherit;
	}

	.hm-h-de .main-navigation ul ul .current_page_item > a, 
	.hm-h-de .main-navigation ul ul .current-menu-item > a, 
	.hm-h-de .main-navigation ul ul .current_page_ancestor > a, 
	.hm-h-de .main-navigation ul ul .current-menu-ancestor > a {
		background: #111111;
	}

	.hm-h-de .main-navigation ul li a:hover, 
	.hm-h-de .hm-header-inner .hm-social-menu a:hover {
		color: #ffffff;
	}

	#site-navigation.hm-menu ul ul,
	.hm-menu ul ul {
		background-color: #222222;
	}

	.hm-h-de .site-header {
		color: #eeeeee;
	}

	.hm-h-de .hm-mobile-menu-toggle {
		color: #eeeeee;
	}

	.hm-h-lg .site-header .hm-main-menu {
		background-color: #222222;
	}

	.hm-h-lg .main-navigation a {
		color: #dddddd;
	}

	.hm-h-lg .main-navigation ul li a:hover::before, 
	.hm-h-lg .main-navigation .current_page_item > a::before, 
	.hm-h-lg .main-navigation .current-menu-item > a::before, 
	.hm-h-lg .main-navigation .current_page_ancestor > a::before, 
	.hm-h-lg .main-navigation .current-menu-ancestor > a::before {
		background-color: #cccccc;
	}

	.hm-h-lg .main-navigation .current_page_item > a, 
	.hm-h-lg .main-navigation .current-menu-item > a, 
	.hm-h-lg .main-navigation .current_page_ancestor > a, 
	.hm-h-lg .main-navigation .current-menu-ancestor > a {
		color: #ffffff;
	}

	.hm-h-lg .main-navigation ul ul .current_page_item > a, 
	.hm-h-lg .main-navigation ul ul .current-menu-item > a, 
	.hm-h-lg .main-navigation ul ul .current_page_ancestor > a, 
	.hm-h-lg .main-navigation ul ul .current-menu-ancestor > a, 
	.hm-h-lg .main-navigation ul ul li a:hover {
		background: #111111;
		color: #ffffff;
	}

	.hm-h-lg .hm-slideout-toggle, 
	.hm-h-lg .hm-slideout-toggle:hover {
		color: #dddddd;
	}

	.hm-h-lg .hm-mobile-menu-toggle {
		color: #eeeeee;
	}

	li.hm-tab.th-ui-state-active a {
		color: #eeeeee;
	}

	.hm-entry .entry-content {
		color: #cccccc;
		margin-top: 5px;
	}

	.pagination .page-numbers {
		background: #111111;

		&.current {
			background: var(--hybridmag-color-primary);
		}
	}

	.post-thumbnail figcaption {
		color: #ccc;
	}

	// Block
	:where(.wp-block-image figcaption) {
		color: #dddddd;
	}

	.hm-light-icon {
		display: block;
	}

	.hm-dark-icon {
		display: none;
	}

	.hm-featured-tabs .hm-tab-anchor {
		color: #dddddd;
	}

	.hm-slideout-sidebar {
		--hybridmag-color-border: #333333;
		background-color: #222222;
		color: #cccccc;

		a,
		.site-title a,
		.site-title a:hover,
		.site-title a:active,
		.site-title a:focus,
		.site-title a:visited,
		.hm-dropdown-toggle {
			color: #dddddd;
		}

		a:hover {
			color: #f5f5f5;
		}

		.hm-slideout-toggle {
			background-color: #111111;
			color: #eeeeee;
		}
	}

	.hm-mobile-sidebar {
		--hybridmag-color-border: #333333;
		background: #222222;

		a,
		.site-title a,
		.site-title a:hover,
		.site-title a:active,
		.site-title a:focus,
		.site-title a:visited,
		.hm-dropdown-toggle {
			color: #dddddd;
		}
	}

	.hm-mobile-sidebar .hm-mobile-menu-toggle {
		background-color: #111111;
	}

	.wp-block-group.has-background {
		color: #ffffff;
	}

	.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
		background-color: #000000;
	}

	pre {
		background-color: #000000;
	}

	th {
		background-color: #111111;
	}

	.wp-block-table :where(figcaption) {
		color: #bbbbbb;
	}

	.hm-tagged, .hm-tags-links a {
		color: #f5f5f5;
		background-color: #111111;
	}

	.site-footer,
	.hm-footer-bottom,
	.hm-footer-widget-area {
		background-color: #272c30; 
	}

	.site-footer,
	.hm-footer-bottom {
		color: #cccccc;
	}

	.site-footer .widget-title {
		color: #ffffff;
	}

	.site-footer a {
		color: #cccccc;
	}

	.site-footer a:hover {
		color: #ffffff;
	}

} 