.hm-h-lg {
	
	.hm-header-inner {
		padding-top: 10px;
		padding-bottom: 10px;

		@media only screen and (min-width: 959px) {
			padding-top: 50px;
			padding-bottom: 50px;

			.hm-search-container {
				display: none;
			}
		}

		@media screen and (max-width: 600px) {
			position: relative;
		}

		// @media only screen and (max-width: 768px) {
		// 	border-bottom: 1px solid var( --hybridmag-color-border );
		// }

		.hm-social-menu li a {
			height: 50px;
		}

		@media (max-width: 959px) {
			.hm-search-toggle {
				height: 40px;
			}
		}
	}

	&.hm-wide-pmenu-inner {
		.hm-menu-wrapper.hm-container {
			width: 100%;
		}
	}

	.site-title {
		font-size: var(--hybridmag-font-size-xxxxl);
	}

	.hm-search-toggle,
	.hm-slideout-toggle:hover {
		color: #222222;
	}

	.hm-slideout-toggle,
	.hm-slideout-toggle:hover {
		color: #222222;
	}

	.hm-search-toggle {
		height: 62px;
	}

	.hm-main-menu .hm-social-menu li a {
		height: 62px;
	}

	.hm-main-menu .hm-slideout-toggle {
		//height: 62px;
	}

}

.hm-wide-topbar {
	.top-bar-inner.hm-container {
		width: 100%;
		@media screen and (min-width: 600px) {
			max-width: 100%;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

.hm-wide-header {
	.hm-header-inner.hm-container {
		width: 100%;
		@media screen and (min-width: 600px) {
			max-width: 100%;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

.site-branding-container {
	margin-right: auto;
	display: flex;
	align-items: center;

	.site-logo {
		margin-right: 1em;
	}
}

.site-title,
.site-description {
	margin-right: 20px;
}

.site-logo img {
	vertical-align: middle;
}

.hm-search-toggle {
	background-color: transparent;
	border: none;
	color: #222222;
	padding: 0 8px;
	display: flex;
	align-items: center;
	line-height: 1;

	.hm-svg-icon {
		font-size: 1.125rem;
        width: 1em;
	}

	&:focus,
	&:active,
	&:hover {
		background-color: transparent;
		color: #222222;
	}
}

.hm-top-bar {
	background-color: #F7F6F1;

	.hm-social-menu {
		a:hover {
			color: var(--hybridmag-color-link-hover);
		}

		li a {
			height: 35px;
		}
	}

	.secondary-menu {
		margin-right: auto;
	}

	a {
		color: #222222;

		&:hover {
			color: var(--hybridmag-color-text-main);
		}
	}

	.hm-slideout-toggle {
		font-size: var(--hybridmag-font-size-amd);
		margin-right: 0.8em;
		color: #222222;
	}
}

.top-bar-inner {
	display: flex;
	align-items: center;
}

.hm-header-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 15px;
} 

.hm-h-lg.logo-aligned-center {

	.hm-header-inner {
		justify-content: center;
		flex-wrap: wrap;
	}

	.hm-header-sidebar {
		order: 20;
		margin-top: 30px;
		flex-basis: 100%;
	}

	.hm-header-sidebar-inner {
		margin: 0 auto;
		display: table;
	}

	.hm-mobile-menu-toggle {
		margin-right: 0;
		margin-left: 0;
		padding: 10px;
	}

	@media ( min-width:768px ) {
		.site-branding-container {
			margin: 0 auto;
			flex-direction: column;
		}

		.hm-header-inner-left,
		.site-branding-container,
		.hm-header-inner-right {
			flex: 1;
			width: auto;
		}

		.site-title,
		.site-description {
			margin-right: 0;
			text-align: center;
		}

		.site-logo {
			margin: 0 auto;
		}

		.hm-header-inner .hm-social-menu {
			margin-right: auto;
		}

		.hm-cta-btn {
			margin-left: auto;
		}
	}

}

.hm-h-lg.logo-aligned-right {

	.hm-header-inner {
		justify-content: flex-end;

		// .hm-search-container {
		// 	order: -25;
		// }

		.hm-search-box {
			left: 0;
			right: auto;
		}
	}

	.hm-header-inner-right {
		order: -25;
	}

	//@media (min-width: 768px) {
		.hm-header-inner-left {
			order: -20;
		}
	//}

	.hm-header-sidebar {
		order: -10;
		margin-left: 0;
		margin-right: auto;

		@media (max-width: 960px) {
			order: 20;
		}
	}

	.site-branding-container {
		margin-right: 0;
		margin-left: auto;
	}

	.hm-mobile-menu-toggle {
		order: -30;
		margin-right: 0;
		margin-left: 0;
		padding: 10px 10px 10px 0;
	}

}

.hm-h-de.has-header-sb,
.hm-h-lg.has-header-sb {
	@media (max-width: 768px) {
		.hm-header-inner {
			flex-wrap: wrap;
		}
	}
}

// .hm-h-lg.has-header-sb:not(.logo-aligned-center) {
// 	@media (min-width: 768px) {
// 		/*.hm-header-sidebar {
// 			flex-basis: 60.66667%;
// 		}*/
// 		.site-branding-container {
// 			flex-basis: 25%;
// 		}
// 	}
// }

.hm-h-de {
	.site-header {
		background: #ffffff;
		box-shadow: var(--hybridmag-global-box-shadow);

		.hm-light-dark-switch {
			@media ( max-width: 960px ) {
				display: none;
			}
		}
	}

	.hm-header-inner {
		min-height: 50px;

		@media screen and (min-width: 768px) {
			min-height: 40px;
		}

		@media screen and (max-width: 600px) {
			position: relative;
		}
	}

	.hm-header-inner-wrapper {
		padding-top: 5px;
		padding-bottom: 5px;

		@media screen and (min-width: 768px) {
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}

	.hm-header-inner .hm-social-menu {
		margin: 0 5px 0;

		@media (max-width: 960px) {
			display: none;
		}
	}

	.hm-mobile-menu-toggle {
		color: #222222;
	
		// &:hover {
		// 	color: #555555;
		// }
	}

	.hm-search-toggle {
		height: 50px;
	}

	.hm-header-inner .hm-social-menu li a {
		height: 30px;
	}

	.hm-header-inner .hm-slideout-toggle {
		height: 50px;
	}


}

.hm-header-gadgets {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	//margin-left: auto;
}

.hm-menu-wrapper {
	display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: auto;
}

.hm-h-lg.menu-align-center {
	.hm-menu-wrapper {
		justify-content: center;
	}
}

.hm-search-container {
	position: relative;
	display: flex;
	align-items: center;

	@media (max-width: 600px) {
		position: initial;
	}
}

.hide-header-search .hm-search-box {
	display: none;
}

.hm-search-toggle .hm-search-icon {
	display: none;
}

.hide-header-search .hm-search-toggle .hm-search-icon {
	display: block;
}

.hide-header-search .hm-search-toggle .hm-close-icon {
	display: none;
}

.hm-mobile-menu-toggle {
	background-color: transparent;
	border: none;
	color: #000000;
	font-size: var(--hybridmag-font-size-lg);
	padding: 10px;

	&:hover {
		background-color: transparent;
		color: #000000;
	}

	&:active,
	&:focus {
		background-color: transparent;
	}
}

.hm-mobile-sidebar {
    bottom: 0;
	//color: #ffffff;
    overflow: auto;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 999999;
    // change this if user needs to open the menu from left.
    right: -100%;
    width: 90vw;
	transition: right 0.2s;
    //background-color: var(--hybridmag-color-main-menu);
	background-color: #ffffff;
	font-size: var(--hybridmag-font-size-sm);

	.hm-dropdown-toggle,
    a {
        color: var(--hybridmag-color-text-main);
    }

	div {
		clear: both;
	}

    @media only screen and (min-width: 768px) {
        width: 40vw;
    }

	.hm-mobile-menu-toggle {
		// color: #eeeeee;
		// background: #4c5155;
		color: #111111;
		background: #dddddd;
		border-radius: 0;
		width: 45px;
		height: 40px;
		float: right;
		margin: -20px -20px 0 0;

		@media only screen and (min-width: 959px) {
			display: block;
		}
	
		&:hover {
			//color: #ffffff;
		}
	}

	.hm-social-nav {
		margin: 20px 10px 20px 10px;
	}

	.hm-social-menu {
		font-size: var(--hybridmag-font-size-amd);
		justify-content: center;

		li {
			a {
				padding: 10px 10px;
				//color: #222222;
			}

			&:first-child a {
				padding-left: 0;
			}
		}
	}
}

.mobile-menu-opened {
    .hm-mobile-sidebar {
        // change this if user needs to open the menu from left.
        right: 0;
    }
}

.hm-mobile-sb-top {
	//position: relative;
	@include clearfix;
}

.hm-mobile-sb-logo {
	float: left;
	max-width: 95%;

	.site-title {
		font-size: 1.75rem;
	}
	.site-description {
		display: none;
	}
}

.hm-slideout-toggle {
	background-color: transparent;
	border: none;
	color: #222222;
	font-size: var(--hybridmag-font-size-lg);
	padding: 0 10px;

	&:hover {
		background-color: transparent;
		color: #555555;
	}

	&:active,
	&:focus {
		background-color: transparent;
	}
}

.hm-slideout-sidebar {
	background-color: #ffffff;
    bottom: 0;
	color: var(--hybridmag-color-text-main);
    overflow: auto;
    position: fixed;
    top: 0;
    z-index: 999999;
    // change this if user needs to open the menu from left.
    right: -100%;
    width: 90vw;
	transition: right 0.2s;
	padding: 30px;

	.hm-dropdown-toggle,
    a {
        color: var(--hybridmag-color-text-main);
    }

    @media only screen and (min-width: 959px) {
        width: 50vw;
		max-width: 400px;
    }

	.hm-slideout-toggle {
		background: #dddddd;
		width: 40px;
		height: 35px;
		border-radius: 0;
		color: #000000;
		float: right;
		margin-top: -30px;
		margin-right: -30px;
	}
}

.hm-menu-bars-close {
	display: none;
}

.slideout-opened {
    .hm-slideout-sidebar {
        // change this if user needs to open the menu from left.
        right: 0;
    }

	.hm-menu-bars-close {
		display: block;
	}

	.hm-menu-bars {
		display: none;
	}
}

.hm-slideout-top {
	//border-bottom: 1px solid var(--hybridmag-color-border);
	margin-bottom: 10px;
	@include clearfix;
}

.hm-slideout-sb-logo {
	margin: 0 0 20px;
	max-width: 95%;
	float: left;

	.site-title {
		font-size: var(--hybridmag-font-size-xxl);
	}
	.site-description {
		display: none;
	}
} 

.hm-overlay-mask {
	background-color: rgba( 0, 0, 0, 0.5 );
	content: '';
	inset: 0;
	position: fixed;
	z-index: 999998;
}

.hm-menu.desktop-only,
.desktop-only {
	display: none;

	@media only screen and (min-width: 959px) {
		display: block;
	}
}

.hm-header-sidebar {
	//margin-left: auto;
}

@media only screen and (max-width: 959px) {
	.hm-header-sidebar {
		order: 20;
		width: 100%;
		margin: 1em 0 0;
	}
}

.hm-search-box {
	position: absolute;
	top: 100%;
	right: 0;
	width: 350px;
	padding: 10px;
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
	z-index: 99;

	form.search-form {
		display: flex;
		flex-wrap: nowrap;
	}

	input.search-submit {
		height: 40px;
		padding: 0 20px;
		line-height: 40px;
	}

	label {
		flex-grow: 1;
	}

	input.search-field {
		height: 40px;
		border: none;
		border-radius: 0;
		width: 100%;

		&:focus {
			outline: none;
			border-bottom: 1px solid var(--hybridmag-color-border);
		}
	}

	@media (max-width: 600px) {
		width: 100%;
	}
}

.hm-breadcrumb-wrap {
	margin-bottom: 15px;
	font-size: var( --hybridmag-font-size-xs );
	font-weight: 500;
}

.hm-header-bar {
    z-index: -1;
    position: relative;

	.hm-breadcrumb-wrap {
		padding: 10px 15px;
		margin-bottom: 0;
	}
}

.hm-cl-sep .hm-header-bar {
	background: #ffffff;
}

.hm-header-image {
	img {
		width: 100%;
		height: auto;
		vertical-align: middle;
	}
}

.hm-header-inner-left,
.hm-header-inner-right {
	display: flex;
	align-items: center;

	.hm-cta-btn {
		margin-bottom: 4px;
	}

	.hm-social-menu {
		font-size: var(--hybridmag-font-size-md);
		@media (max-width: 959px) {
			display: none;
		}
	}
}

.site-header {
	.hm-light-icon {
		display: none;
	}

	.hm-dark-icon {
		display: block;
	}

	.hm-light-dark-switch {
		cursor: pointer;
		display: flex;
		align-items: center;
	}

	.hm-light-dark-toggle {
		background: transparent;
		padding: 3px 8px 0 10px;
		font-size: 1.05rem;
		color: inherit;
	}
}

.hm-mobile-sidebar {
	.hm-light-icon {
		display: none;
	}

	.hm-light-dark-switch {
		text-align: right;
	}

	.hm-light-dark-toggle {
		color: inherit;
		border-radius: 20px;
		text-align: center;
		padding: 0;
		width: 35px;
		height: 35px;
		background-color: transparent;
		border: 1px solid var(--hybridmag-color-border);
	}
}
