h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $font__headings;
	line-height: var(--hybridmag-line-height-headings);
	font-weight: var(--hybridmag-font-weight-headings);
	margin: 20px 0;
}

h1 {
	font-size: var(--hybridmag-font-size-xxxl);
}

h2 {
	font-size: var(--hybridmag-font-size-xl);
}

h3 {
	font-size: var(--hybridmag-font-size-lg);
}

h4 {
	font-size: var(--hybridmag-font-size-md);
}

h5 {
	font-size: var(--hybridmag-font-size-base);
}

h6 {
	font-size: var(--hybridmag-font-size-sm);
}

.site-title {
	font-family: $font__main;
	font-size: 26px;
	font-weight: bold;
	line-height: 1.2;
	margin: 0;

	@media screen and (min-width: 768px) {
		font-size: 32px;
	}

	a,
	a:hover,
	a:active,
	a:focus,
	a:visited {
		color: #ffffff;
	}
}

.site-description {
	color: var(--hybridmag-color-text-headings);
	margin: 0;
	font-weight: 700;
	font-size: var(--hybridmag-font-size-xs);
}