html {
	font-size: var( --hybridmag-font-size-base );
}

body,
button,
input,
select,
optgroup,
textarea {
	color: var(--hybridmag-color-text-main);
	font-family: $font__main;
	font-size: 1rem;
	line-height: var(--hybridmag-line-height-body);
}

@import "headings";
@import "copy";
