html {
	font-size: var( --hm-font-size-base );
}

body,
button,
input,
select,
optgroup,
textarea {
	color: var(--hm-color-text-main);
	font-family: var(--hm-font-family-body);
	font-size: 1rem;
	line-height: var(--hm-line-height-body);
}

@import "headings";
@import "copy";
