body {
	background-color: #f5f5f5; // Fallback for when there is no custom background color defined.

	&.hm-cl-one {
		background-color: #ffffff;
	}

	&.hm-boxed {
		background-color: #dddddd;

		#page {
			margin: 0 auto;
			width: 1280px;
			max-width: 100%;
			background-color: #f5f5f5;
		}

		&.hm-cl-one {
			#page {
				background-color: #ffffff;
			}
		}
	}

}

.hm-container {
	width: 1200px;
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
}

body.hm-boxed .hm-container {
	width: auto;
	max-width: 93.75%;
}

.site-content {
	padding: 30px 0;

	@media only screen and (min-width: 600px) {
		padding: 35px 0;
	}
}

.hm-cl-one {
	.site-content {
		@media only screen and (min-width: 600px) {
			padding: 50px 0;
		}
	}
}

@media only screen and (min-width: 768px) {
	.content-area {
		display: flex;
		flex-wrap: wrap;
	}
	
	#primary {
		width: 67.083333333%;
	}
	
	#secondary {
		width: 32.916666667%;
		padding-left: var(--hybridmag-sidebar-spacing);
	}

	.hm-left-sidebar {
		#secondary {
			order: -10;
			padding-left: 0;
			padding-right: var(--hybridmag-sidebar-spacing);
		}
		.hm-featured-top {
			order: -20;
		}
	}

	.hm-center-content {
		#primary {
			margin: 0 auto;
		}
	}
}

.hm-no-sidebar #primary {
	width: 100%;
}

.page-template-template-fullwidth #primary {
	width: 100%;
}