button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.hm-readmore-btn {
	border: none;
	border-radius: 3px;
	background: var(--hybridmag-color-button-background);
	color: var(--hybridmag-color-button-text);
	cursor: pointer;
	line-height: 1;
	padding: 0.8rem 1rem;
	font-family: $font__headings;
	font-size: var(--hybridmag-font-size-base);
	font-weight: bold;

	&:hover {
		color: var(--hybridmag-color-button-hover-text);
		background: var(--hybridmag-color-button-hover-background);
	}

	&:active,
	&:focus {
		background: var(--hybridmag-color-button-focus-background);
	}
}

svg.hm-svg-icon {
	fill: currentColor;
}

.hm-readmore-btn {
	font-size: var(--hybridmag-font-size-xs);
	display: inline-block;
	padding: 0.7rem 0.9rem;
}

a.hm-readmore-btn {
	text-decoration: none;
	color: #ffffff;

	&:hover {
		color: #ffffff;
	}

	&:visited {
		color: #ffffff;
	}
}

.hm-cta-btn {
	border-radius: 5px;
	background: var(--hybridmag-color-button-background);
	color: var(--hybridmag-color-button-text);
	line-height: 1;
	padding: 10px 20px;
	font-family: $font__headings;
	font-size: var(--hybridmag-font-size-base);
	font-weight: bold;
	margin: 0 8px;

	&:visited {
		color: var(--hybridmag-color-button-hover-text);
	}
	
	&:hover {
		color: var(--hybridmag-color-button-hover-text);
		background: var(--hybridmag-color-button-hover-background);
	}

	@media (max-width:600px) {
		padding: 8px 10px;
		font-size: var(--hybridmag-font-size-xs);
	}
}