input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: var(--hybridmag-color-input);
	background-color: var(--hybridmag-color-input-background);
	border: 1px solid var(--hybridmag-color-input-border);
	border-radius: 0;
	padding: 8px;

	&:focus {
		color: var(--hybridmag-color-text-input-focus);
	}
}

select {
	border: 1px solid var(--hybridmag-color-input-border);
}

textarea {
	width: 100%;
}
