.widget {
	margin: 0 0 var( --hybridmag-global-spacing );
	@include clearfix;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}

	ol, ul {
		margin: 0;
		padding: 0;
	}

	ul li {
		list-style: none;
		margin-bottom: 0.5em;
	}

	&:first-of-type {
		margin-top: 0;
	}

	.wp-block-spacer {
		margin-bottom: -50px;
	}

}

.hm-footer-widget-area .widget:first-of-type {
	margin-top: 50px;
}

.clearfix {
	&:before,
	&:after {
		content: "";
		display: table;
		table-layout: fixed;
	}
	&:after {
		clear: both;
	}
}

#secondary {
	.widget-title,
	.wp-block-heading {
		color: var(--hybridmag-color-text-headings);
	}
}

.hm-cl-sep #secondary .widget {
	padding: var(--hybridmag-global-inner-spacing);
	background: var(--hybridmag-color-bg-cl-sep-content);
	box-shadow: var(--hybridmag-global-box-shadow);
	border-radius: var(--hybridmag-global-border-radius);
}

.widget-title,
.widget_block h2.wp-block-heading,
.widget_block h3.wp-block-heading,
.widget_block h4.wp-block-heading {
	margin: 0 0 20px;
	font-size: var(--hybridmag-font-size-lg);
}

.hm-header-sidebar {
	figure {
		margin: 0;
	}
}

.hm-sidebar-header-after,
.hm-header-sidebar {
	.widget {
		margin: 1.5em 0 0;

		&:first-of-type {
			margin-top: 0;
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

/* Featured Tabs */
ul.hm-tab-nav {
	overflow: hidden;
	margin: 0 0 25px 0;
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

li.hm-tab {
	float: left;
	padding: 0 !important;
	text-align: center;
	margin-right: 35px;
	
	a {
		width: 100%;
	}

}   

li.hm-tab.th-ui-state-active a {
	border-bottom: 2px solid var(--hybridmag-color-primary);
	outline: 0;
}

.hm-featured-tabs {
	position: relative;
	margin-bottom: 60px;

	.hm-tab-anchor {
		font-size: var(--hybridmag-font-size-md);
		padding: 10px 0 3px;
		line-height: 40px;
		display: inline-block;
		font-weight: var(--hybridmag-font-weight-headings);
		line-height: 1.3;
		color: #333;

		@media (max-width: 600px) {
			font-size: var(--hybridmag-font-size-sm);
		}
	}

	#hm-tab-posts-2,
	#hm-tab-posts-3,
	#hm-tab-posts-4 {
		display: none;
	}
}

.hm-cl-one .hm-featured-tabs {
	margin-bottom: 80px;
}

.hm-tabs-view-more {
	@media( min-width: 768px ) {
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 10px;
		font-size: var( --hybridmag-font-size-sm );
		text-align: right;
	}
	text-align: center;
	font-weight: var(--hybridmag-font-weight-headings);
	margin: 20px 0 0;
	display: block;
}