$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-ins: #fff9c0;
$color__text-screen: #21759b;
$color__border-abbr: #666; 

// Default Colors.
:root {
    /*--hybridmag-color-bg: #f5f5f5;
    --hybridmag-color-bg-cl-one: #ffffff;
    --hybridmag-color-bg-boxed: #dddddd;
    --hybridmag-color-bg-boxed-page: #f5f5f5;
    --hybridmag-color-bg-boxed-cl-one: #dddddd;*/

    --hybridmag-color-primary: #65bc7b; 
    --hybridmag-color-tertiary: #272c30;
    --hybridmag-color-main-menu: #272c30;

    --hybridmag-color-text-main: #404040;
    --hybridmag-color-text-light: #7D7D7D;
    --hybridmag-color-text-headings: #222222;
    --hybridmag-color-link: #0a0808;
    --hybridmag-color-link-hover: var(--hybridmag-color-primary);
    --hybridmag-color-link-visited: #5d7ddb;

    --hybridmag-color-button-background: var(--hybridmag-color-primary);
    --hybridmag-color-button-text: #ffffff;
    --hybridmag-color-button-hover-text: #ffffff;
    --hybridmag-color-button-hover-background: #222222;
    --hybridmag-color-button-focus-background: #111111;

    --hybridmag-color-border: #E0E0E0;
    --hybridmag-color-input-border: #ccc;
    --hybridmag-color-text-input-focus: var(--hybridmag-color-text-main);
    --hybridmag-color-input: var(--hybridmag-color-text-main);
    --hybridmag-color-input-background: inherit;

    --hybridmag-color-background-pre: #eeeeee;

    --hybridmag-color-bg-cl-sep-content: #ffffff;
}