:root {
    --hybridmag-global-spacing: 35px;
    --hybridmag-sidebar-spacing: 35px;
    --hybridmag-post-cols-gap: 35px;
    --hybridmag-post-row-gap: 35px;
    --hybridmag-global-inner-spacing: 15px;
    --hybridmag-footer-cols-gap: 40px;
    --hybridmag-global-box-shadow: 0 0 15px 0 rgba( 0, 0, 0, 0.06);
    --hybridmag-global-border-radius: 6px;

    @media (min-width: 480px) {
        --hybridmag-global-inner-spacing: 30px;
    }
}

.hm-cl-one {
    --hybridmag-global-spacing: 50px;
    --hybridmag-sidebar-spacing: 50px;
    --hybridmag-post-cols-gap: 50px;
    --hybridmag-post-row-gap: 50px;
}