:root {
    --hm-font-family-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --hm-font-family-headings: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --hm-font-family-code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    --hm-font-family-pre: "Courier 10 Pitch", courier, monospace;

    --hm-font-size-base: 16px;
    --hm-font-size-xxxs: 0.688rem; // 11px
    --hm-font-size-xxs: 0.75rem; // 12px
    --hm-font-size-xs: 0.875rem; // 14px
    --hm-font-size-sm: 0.938rem; // 15px
    --hm-font-size-md: 1.063rem; // 17px;
    --hm-font-size-lg: 1.375rem; // 22px 1.313 - 21
    --hm-font-size-xl: 1.5rem; // 24px
    --hm-font-size-xxl: 1.625rem; // 26px
    --hm-font-size-xxxl: 2rem; // 32px
    --hm-font-size-xxxxl: 2.25rem; // 36px

    --hm-line-height-body: 1.5;
    --hm-line-height-article: 1.7;
    --hm-line-height-headings: 1.3;
    --hm-line-height-pre: 1.6;

    --hm-font-weight-headings: 700;
}