.hm-entry-single .entry-content > * {
	margin-bottom: 30px;

	&:last-child {
		margin-bottom: 0;
	}
}

.wp-block-group .wp-block-group__inner-container > * {
	margin-bottom: 20px;
}

.wp-block-group .wp-block-group__inner-container > *:last-child {
	margin-bottom: 0;
}

.wp-block-columns .wp-block-column > *:last-child {
	margin-bottom: 0;
}

.wp-block-archives,
.wp-block-categories,
.wp-block-latest-posts {
    padding: 0;
    list-style: none;

    li {
        margin-bottom: 0.5em;
    }
}

.wp-block-latest-comments {
    padding-left: 0;
}

.page-content a.wp-block-button__link, 
.entry-content a.wp-block-button__link, 
.entry-summary a.wp-block-button__link,
.wp-block-button__link {
    border-radius: 3px;
	background: var(--hybridmag-color-button-background);
	color: var(--hybridmag-color-button-text);
	cursor: pointer;
	line-height: 1;
	padding: 0.8em 1em 0.8em;
    font-size: var(--hybridmag-font-size-base);
	font-weight: bold;
	text-decoration: none;

	&:hover {
		color: var(--hybridmag-color-button-hover-text);
		background: var(--hybridmag-color-button-hover-background);
	}

	&:active,
	&:focus {
        background: var(--hybridmag-color-button-focus-background);
	}
}

.wp-block-search__button {
	padding: 0.8rem 1rem;
	border: none;
}

.wp-block-pullquote {
	border-left: none;
	border-right: none;
	font-size: var(--hybridmag-font-size-xl);
	padding: 2rem 0;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 40px;
}

.wp-block-pullquote cite,
.wp-block-pullquote .wp-block-pullquote__citation {
	font-size: var(--hybridmag-font-size-sm);
}

.wp-block-pullquote cite::before,
.wp-block-pullquote .wp-block-pullquote__citation::before {
	content: "—";
    margin-right: 0.25rem;
}

.wp-block-pullquote blockquote {
	border-left: none;
}

.wp-block-pullquote blockquote p, 
.wp-block-pullquote.is-style-solid-color blockquote p {
	font-size: var(--hybridmag-font-size-xl);
	line-height: 1.3;
    margin-bottom: 0.5em;
	margin-top: 0;
	font-style: italic;
}

.wp-block-pullquote.is-style-solid-color, 
.wp-block-pullquote.has-background, 
.wp-block-pullquote[style*=border-style][style*=border-width] {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.wp-block-pullquote.is-style-solid-color blockquote {
	margin-left: 0;
	margin-right: 0;
}

.wp-block-latest-posts__featured-image,
.wp-block-latest-posts__featured-image:not(.alignleft, .alignright),
.wp-block-latest-posts__featured-image img {
    border-radius: var(--hybridmag-global-border-radius);
}

.wp-block-image:not(.alignfull, .is-style-rounded) img,
.wp-block-gallery .wp-block-image {
    border-radius: var(--hybridmag-global-border-radius);
}

.th-hm-es .article-section-title {
	border-bottom: 2px solid var(--hybridmag-color-primary);
	display: inline-block;
	line-height: 1.2;
}

// Commented code because there is a scroll bar appearing bottom of the page.
// .hybridmag-wide.post,
// .hybridmag-wide.page {
// 	&.page-template-template-magazine,
// 	&.hm-no-sidebar,
// 	&.hm-center-content {
// 		.alignfull {
// 			width: 100vw;
// 			max-width: 100vw;
// 			margin-left: calc(-50vw + 50%);
// 		}
// 	}
// }
